.product-list {
  border-radius: 0.2rem;
  display: flex;
}

.product-list__item {
  width: calc(33.3% - 1.5rem);
  margin-right: 3rem;
}

.product-list__item:nth-child(3) {
  margin-right: 0;
}

.product-list--tools {
  clear: both;
  text-align: right;
  margin-bottom: 6rem;
}
